@import '../variables';

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: $defaultBackgroundColor;
  padding: 1rem;
  div { margin: 0.4rem }

  .tabs {
    display: flex;
    justify-content: space-around;
    .header-text { color: #4CAF50; pointer-events: none }

    h1 {
      margin: 0;
      color: $white;
      cursor: pointer;
    }
  }

  a {
    color: #2c3e50;
    text-decoration: none;
    cursor: pointer;
    &:hover { text-decoration: underline }
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 0;

    input {
      padding: 0.5rem 1rem;
      outline: none;
      color: $white;
      background: #2F3135;
      width: 100%;
      transition: 0.4s ease-in-out;
      &:focus { border: #4CAF50 2px solid }
    }

    .error {
      margin-top: 0.3rem;
      margin-bottom: 0;
      color: red;
    }

    button {
      width: 100%;
      font-size: 1rem;
      padding: 0.6rem;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .enabled-btn { color: $white; background: #4CAF50 }
    .disabled-btn { color: #A0A0A3; background: #626064; cursor: inherit; }
  }
}
