@import '../variables';

.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $defaultBackgroundColor;
  padding: 2rem;
  text-align: center;
  h1 { color: $white }

  a {
    font-size: 2rem;
    color: $white;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}
