header {
  background: $defaultBackgroundColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  p {
    color: $white;
    font-size: 1.3rem;
    margin: 0.5rem;
  }

  button {
    background: #53B269;
    color: $white;
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
